table {
    width: 100%;
}

.container{
    margin-top: 20px;
    padding: 0;
}
h1{
    margin-top: 20px;
    text-align: center;
}

.fondo{
    height: auto;
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
}

.container td #edit{
    color: #3F51B5;
    margin-right: 15px;
    cursor: pointer;
}

.container td #delete{
    color: rgb(216, 57, 57);
    cursor: pointer;
}

.buttons #agregarClientes{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline #3F51B5;
}