
#carouselExampleInterval{
    
}

.carousel-item{
    background-color: rgb(243, 243, 243);
    height: 300px !important;
}



.carousel-item{
    height: 100%;
    width: 100%;
    object-fit: contain;

    
}

#uno{
    background-color: black;
    background-repeat:repeat; 
    opacity: 0.5;
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
    padding: 0px !important;
}   

#dos{
    background-color: black;
    background-repeat:repeat; 
    opacity: 0.5;
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
    padding: 0px !important;
}

#tres{
    background-color: black;
    background-repeat:repeat; 
    opacity: 0.5;
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
    padding: 0px !important;
}

.carousel-item h1,p{
    color: rgb(255, 255, 255);
}

