<div class="fondo">
    <app-navbar></app-navbar>
    <h1>Cliente {{nombreCustomer}}</h1>
    <div class="container" >
        <!--CARTA DETALLE CLIENTE-->
        <mat-card class="example-card">
            <div class="vehicle">
                
                <!-- Example single danger button -->
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Vehículo
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" (click)="dropdown(vehicle)" *ngFor="let vehicle of vehiclesCustomer">{{vehicle.placa}}</li>
                        
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropdown-item" (click)="addVehicle()">Agregar vehículo</li>
                    </ul>
                </div>
                <mat-icon id="edit" (click)="editVehicleForm()">edit</mat-icon>
                <mat-icon id="delete">delete</mat-icon>
            </div>
            
            <mat-card-content class="contenido">
                <form [formGroup]="vehiculoForm" (submit)="saveVehicle()">
                    <div>
                        <h4>Marca</h4>
                        <p *ngIf="!editVehicle">{{showMarca}}</p>
                        <mat-form-field class="width-50" appearance="fill" *ngIf="editVehicle">
                            <input matInput formControlName="Marca" placeholder="Marca" autocomplete="off">
                        </mat-form-field>
                        
                    </div>
                    <div>
                        <h4>Placa</h4>
                        <p *ngIf="!editVehicle">{{showPlaca}}</p>
                        <mat-form-field class="width-50" appearance="fill" *ngIf="editVehicle">
                            <input matInput formControlName="Placa" placeholder="Placa" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div>
                        <h4>Color</h4>
                        <p *ngIf="!editVehicle">{{showColor}}</p>
                        <mat-form-field class="width-50" appearance="fill" *ngIf="editVehicle">
                            <input matInput formControlName="Color" placeholder="Color" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div>
                        <h4>Modelo</h4>
                        <p *ngIf="!editVehicle">{{showModelo}}</p>
                        <mat-form-field class="width-50" appearance="fill" *ngIf="editVehicle">
                            <input matInput formControlName="Modelo" placeholder="Modelo" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <button mat-raised-button type="submit" class="btn-guardar" color="primary" *ngIf="editVehicle">Guardar</button>
                </form>
            
            </mat-card-content>
        </mat-card>

        <!--STEPPER ETAPAS DEL MANTENIMIENTO-->
        <mat-tab-group class="etapas">
            <mat-tab label="Ingreso">
                <div fxLayout="row" fxLayoutAlign="end">
                    <mat-icon id="edit" (click)="isEditRevision()">edit</mat-icon>
                </div>
                
                <p>El vehículo con placa {{showPlaca}} ingresa al taller NOMBRETALLER presentando las siguientes fallas</p>
                <h2>Estado del vehículo</h2>
                <p *ngIf="!editRevision">{{revisionForm.value.revision}}</p>
                <form [formGroup]="revisionForm" class="example-form" fxLayout="column" *ngIf="editRevision" (submit)="saveRevision()">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput formControlName="revision" placeholder="Escriba una descripcion..."></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Guardar</button>
                </form>
            </mat-tab>

            <mat-tab label="Diagnostico">
                <div fxLayout="row" fxLayoutAlign="end">
                    <mat-icon id="edit" (click)="isEditDiagnostico()">edit</mat-icon>
                </div>
                
                <p>Despues de realizar la revisión del vehículo con placas {{showPlaca}} se han identificado las siguientes fallas</p>
                <h2>Descripción de la falla</h2>
                <p *ngIf="!editDiagnostico">{{diagnosticoForm.value.diagnostico}}</p>
                <form [formGroup]="diagnosticoForm" class="example-form" fxLayout="column" *ngIf="editDiagnostico" (submit)="saveDiagnostico()">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput formControlName="diagnostico" placeholder="Escriba una descripcion..."></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Guardar</button>
                </form>
            </mat-tab>


            <mat-tab label="Reparación">
                <div fxLayout="row" fxLayoutAlign="end">
                    <mat-icon id="edit" (click)="isEditReparacion()">edit</mat-icon>
                </div>
                
                <p>Al vehículo de placas {{showPlaca}} se le han realizado los siguientes ajustes.</p>
                <h2>Mantenimiento realizado</h2>
                <p *ngIf="!editReparacion">{{reparacionForm.value.reparacion}}</p>
                <form [formGroup]="reparacionForm" class="example-form" fxLayout="column" *ngIf="editReparacion" (submit)="saveReparacion()">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput formControlName="reparacion" placeholder="Escriba una descripcion..."></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Guardar</button>
                </form>
            </mat-tab>

            <mat-tab label="Terminado">
                <div fxLayout="row" fxLayoutAlign="end">
                    <mat-icon id="edit" (click)="isEditTerminado()">edit</mat-icon>
                </div>
                
                <p>El vehículo con placas {{showPlaca}} se le entrega al cliente NOMBRE CLIENTE con las siguientes mejoras.</p>
                <h2>Entrega del vehículo</h2>
                <p *ngIf="!editTerminado">{{terminadoForm.value.terminado}}</p>
                <form [formGroup]="terminadoForm" class="example-form" fxLayout="column" *ngIf="editTerminado" (submit)="saveTerminado()">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput formControlName="terminado" placeholder="Escriba una descripcion..."></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Guardar</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>

  
</div>
