.fondo{
    height: auto;
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
}


.example-card {
    max-width: 400px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
}

.etapas{
    max-width: 800px;
    margin-left:90px;
}

.contenido form{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contenido form .btn-guardar{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 95%;
}

h4{
    font-weight: bold;
}

.container mat-card{
    min-width: 350px;
    height: fit-content;
}

.container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

.vehicle{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    margin-bottom: 30px;
}

.vehicle .btn-group{
    width: 50%;
}

ul{

}

ul li{
    cursor: pointer;
}

.dropdown-toggle{
    width: 70px;
    height: 38px;
}

#edit{
    color: #3F51B5;
    cursor: pointer;
}

#delete{
    color: rgb(216, 57, 57);
    cursor: pointer;
}

.width-50{
    width: 90%;
}