<form [formGroup]="login" (submit)="ingresar()">
    
    <div class="login" fxLayout="column" fxLayoutAlign="center center">
        <img src="../../../assets/customer.png" alt="Login">
        <mat-progress-spinner mode="indeterminate" [diameter]="50" class="spinner" *ngIf="loading"></mat-progress-spinner>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" autocomplete="off">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Ingresar</button>
    </div>
</form>
